<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" class="no-js">
<!--<![endif]-->

<sly data-sly-include="header.html" />

<body>
    <!-- Start your project here-->
   <div class="container">
        <sly data-sly-include="content.html" />

        <sly data-sly-include="customFooter.html" />

        <sly data-sly-include="footer.html" />
    </div>
</body>

</html>